extends layout 
 
block content 
  h1= title 
  - let Applesid = toShow._id 
  - let Apples_colour = toShow.Apples_colour 
  - let Apples_price = toShow.Apples_price 
  - let Apples_quantity = toShow.Apples_quantity 
  div 
    div.row 
      div(class='ApplesAttr mr-3') Apples ID is: 
      div #{Applesid} 
    div.row 
      div(class='ApplesAttr mr-3') Apples colour is: 
      div #{Apples_colour} 
    div.row 
      div(class='ApplesAttr mr-3') Apples quantity is: 
      div #{Apples_quantity} 
    div.row 
      div(class='ApplesAttr mr-3') Apples Price is: 
      div #{Apples_price}